body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-lao-sans-pro: "Lao Sans Pro";
  --font-actor: Actor;
  --font-lavishly-yours: "Lavishly Yours";

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-mini: 15px;
  --font-size-5xs: 8px;
  --font-size-4xs: 9px;
  --font-size-3xs: 10px;
  --font-size-2xs: 11px;
  --font-size-2xl: 21px;
  --font-size-4xs-5: 8.5px;
  --font-size-smi: 13px;
  --font-size-12xl: 31px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-darkgray-100: #9b9898;
  --color-darkgray-200: #9c9696;
  --color-whitesmoke: #eaeced;
  --color-steelblue-100: #185995;
  --color-cornflowerblue: #3a74cb;
  --color-darkslateblue: #1557a4;
  --color-dimgray-100: #787171;

  /* Gaps */
  --gap-lg: 18px;
  --gap-8xs: 5px;

  /* Paddings */
  --padding-3xs: 10px;

  /* border radiuses */
  --br-8xs: 5px;
  --br-6xs: 7px;
  --br-mini: 15px;
  --br-lg: 18px;
  --br-2xs: 11px;
  --br-4xs: 9px;
}
