.pending {
  position: relative;
}
.pending-wrapper {
  margin: 0 !important;
  position: absolute;
  top: 61px;
  left: calc(50% - 27px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
}
.frame-child {
  position: absolute;
  margin: 0 !important;
  top: -2px;
  left: 0px;
  width: 180px;
  height: 4px;
  object-fit: cover;
  z-index: 0;
}
.property-1default-inner {
  margin: 0 !important;
  position: absolute;
  top: 27px;
  left: 0px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.paid-invoice {
  position: relative;
  display: inline-block;
  width: 179px;
  height: 17px;
  flex-shrink: 0;
  z-index: 0;
}
.pending-invoice {
  position: absolute;
  margin: 0 !important;
  top: 0px;
  left: 179px;
  color: var(--color-darkgray-100);
  display: inline-block;
  width: 180px;
  height: 17px;
  flex-shrink: 0;
  z-index: 1;
}
.paid-invoice-parent {
  margin: 0 !important;
  position: absolute;
  top: 5px;
  left: 1px;
  width: 358px;
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 2;
}
.property-1default {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--color-white);
  height: 129px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.paid-wrapper {
  margin: 0 !important;
  position: absolute;
  top: 61px;
  left: calc(50% - 14px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
}
.property-1variant2-inner {
  margin: 0 !important;
  position: absolute;
  top: 27px;
  right: 0px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.pending-invoice1 {
  position: absolute;
  margin: 0 !important;
  top: 0px;
  left: 179px;
  color: var(--color-black);
  display: inline-block;
  width: 180px;
  height: 17px;
  flex-shrink: 0;
  z-index: 1;
}
.paid-invoice-group {
  margin: 0 !important;
  position: absolute;
  top: 5px;
  left: 1px;
  width: 358px;
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 2;
  color: #848080;
}
.property-1variant2 {
  position: absolute;
  top: 162px;
  left: 20px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.property-1default-parent {
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px dashed #9747ff;
  box-sizing: border-box;
  width: 100%;
  height: 306px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-lao-sans-pro);
}
