.pending1 {
  position: relative;
}
.pending-container {
  margin: 0 !important;
  position: absolute;
  top: 61px;
  left: calc(50% - 27px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
}
.frame-inner {
  position: absolute;
  margin: 0 !important;
  top: -2px;
  left: 0px;
  width: 180px;
  height: 4px;
  object-fit: cover;
  z-index: 0;
}
.vector-wrapper {
  margin: 0 !important;
  position: absolute;
  top: 27px;
  left: 0px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.paid-invoice2 {
  position: relative;
  display: inline-block;
  width: 179px;
  height: 17px;
  flex-shrink: 0;
  z-index: 0;
}
.pending-invoice2 {
  position: absolute;
  margin: 0 !important;
  top: 0px;
  left: 179px;
  color: var(--color-darkgray-100);
  display: inline-block;
  width: 180px;
  height: 17px;
  flex-shrink: 0;
  z-index: 1;
}
.paid-invoice-container {
  margin: 0 !important;
  position: absolute;
  top: 5px;
  left: 1px;
  width: 358px;
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  z-index: 2;
}
.frame-parent {
  position: absolute;
  top: 68px;
  left: calc(50% - 179px);
  background-color: var(--color-white);
  height: 129px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  color: var(--color-black);
}
.toolbar-child {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0px 0px 0px var(--br-8xs);
  background-color: var(--color-steelblue-100);
  width: 360px;
  height: 70px;
}
.credit-card-icon {
  position: absolute;
  top: 10px;
  left: 240px;
  width: 25px;
  height: 30px;
  overflow: hidden;
  object-fit: cover;
}
.hourglass-icon {
  position: absolute;
  top: 11px;
  left: 302px;
  width: 21px;
  height: 24px;
  overflow: hidden;
  object-fit: cover;
}
.daashboard {
  position: absolute;
  top: 43px;
  left: calc(50% - 178px);
  display: inline-block;
  width: 74px;
  height: 11px;
}
.current-plan {
  position: absolute;
  top: 43px;
  left: calc(50% - 106px);
  display: inline-block;
  width: 74px;
  height: 11px;
}
.invoice1 {
  position: absolute;
  top: 43px;
  left: calc(50% - 38px);
  display: inline-block;
  width: 74px;
  height: 11px;
}
.payment {
  position: absolute;
  top: 43px;
  left: calc(50% + 45px);
  display: inline-block;
  width: 55px;
  height: 11px;
}
.support {
  position: absolute;
  top: 41px;
  left: calc(50% + 105px);
  display: inline-block;
  width: 55px;
  height: 11px;
}
.book-icon {
  position: absolute;
  top: 11px;
  left: 167px;
  width: 29px;
  height: 25px;
  overflow: hidden;
  object-fit: cover;
}
.home-icon {
  position: absolute;
  top: 7px;
  left: 20px;
  width: 35px;
  height: 33px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}
.tachometer-alt-icon {
  position: absolute;
  top: 8px;
  left: 96px;
  width: 30px;
  height: 29px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}
.toolbar {
  position: absolute;
  top: 732px;
  left: 0px;
  width: 360px;
  height: 70px;
  font-size: var(--font-size-5xs);
}
.header-child {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0px 0px 0px var(--br-mini);
  background-color: var(--color-steelblue-100);
  width: 360px;
  height: 48px;
}
.dashboard {
  position: absolute;
  top: 10px;
  left: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 87px;
  mix-blend-mode: normal;
}
.vector-icon {
  position: absolute;
  height: 41.57%;
  width: 3.89%;
  top: 26.9%;
  right: 17.22%;
  bottom: 31.53%;
  left: 78.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.header-item {
  position: absolute;
  top: 13px;
  left: 318px;
  width: 27px;
  height: 13px;
  object-fit: cover;
}
.bars-icon {
  position: absolute;
  top: 11px;
  left: 11px;
  width: 17px;
  height: 15px;
  overflow: hidden;
  object-fit: cover;
}
.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 48px;
  font-size: var(--font-size-mini);
  font-family: var(--font-actor);
}
.invoice {
  position: relative;
  border-radius: var(--br-6xs);
  background-color: var(--color-whitesmoke);
  width: 100%;
  height: 939px;
  overflow-y: auto;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-lao-sans-pro);
}
